<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">

        {% csrf_token %}
        <input type="text" placeholder="name" name="uname"><br>
        <input type="email" placeholder="mail" name="email"><br>
        <input type="textarea" placeholder="enter msg" name="msg    "><br>
        <input type="submit" value="send">
    </form>
</body>
</html>