


.rbody{

background-color:black;
}

.lbody{

background-color: black;

}



    .signup-box{
      width: 360px;
      height: 620px;
      margin: auto;
      background-color: white;
      border-radius: 3px;
    }



    .login-box{
      width: 360px;
      height: 400px;
      margin: auto;
      background-color: white;
      border-radius: 3px;
    }

    
    
    
    h1 {
      text-align: center;
      padding-top: 15px;
    }
    
    h4 {
      text-align: center;
    }
    
    .lform {
      width: 300px;
      margin-left: 24px;
    }

    
    .rform {
      width: 300px;
      margin-left: 24px;
    }
    
    form label {
      display: flex;
      margin-top: 20px;
      font-size: 18px;
    }
    
    form input {
      width: 100%;
      padding: 7px;
      border: none;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 6px;
      outline: none;
    }
    button{
      width: 320px;
      height: 35px;
      margin-top: 20px;
      border: none;
      background-color: #0bee2d;
      color: rgb(11, 215, 45);
      font-size: 18px;
    }
    p {
      text-align: center;
      padding-top: 20px;
      font-size: 15px;
    }
    .para-2 {
      text-align: center;
      color: rgb(247, 244, 244);
      font-size: 17px;
      margin-top: -10px;
    }
    .para-2 a {
      color: #49c1a2;
    }

